.input-contact {
  display: flex;
  align-items: flex-start;
  outline: none;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.932);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(36, 34, 34);
  color: white;
}

.textarea-container {
  border: solid 1px rgb(233, 228, 228);
}

.contact-textarea {
  border: 2px solid rgb(160, 151, 151);
  outline: none;
  resize: none;
  color: white;
  background: rgb(36, 34, 34);
}

::placeholder {
  color: rgba(255, 255, 255, 0.863);
  opacity: 1; /* Firefox */
}

.contact-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 17px;
  font-style: normal;
  line-height: 25px;
}

@media (max-width: 600px) {
  .contact-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }
  .hide-on-mobile {
    display: none;
  }
}
